.panel {
    background-image: linear-gradient(to right, rgb(89 107 101), rgb(114 117 116));
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    min-height: 100vh;

}

button {
    font-size: 2rem;
    border: 1px solid;
    border-radius: 10%;
    outline: none;
    cursor: pointer;
}
button:hover {
    background-color: rgb(108, 187, 174);
}

input {
    margin: 20px 0 20px 20px;
    height: 3rem;
    font-size: 2rem;
    padding: 0.3rem;
    border-radius:10px;
    text-align: center;
}

.input-panel {
    width: 32rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.memory-res {
    height: 4rem;
    width: 20rem;
    background-color:darkseagreen;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2rem;

}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: minmax(120px, auto) repeat(4, 100px);
    margin: 20px;
}

.operation-btn {
    background-color:darkseagreen;
}
.del-btn {
    height: 3.5rem;
}

.pow {
    background-image: url(./images/squareNum.png);
    background-position: center;
    background-size: 2.5rem;
    background-color: darkseagreen;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}
